.app {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    margin-top: 13vh;
    overflow-y: auto; 
}

.main {
    flex: 1;                     
    padding: 1rem 2rem 4rem 2rem;          
    display: flex;
    flex-direction: column;
    gap: 2rem;                   
    overflow-y: visible;       
    max-height: none;          
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 2rem;
    width: 100%;
    grid-auto-rows: minmax(auto, 35vh);
}