.rodape {
    background: rgba(10,9,8,0.8);
    border-top: 1px solid var(--fundo3);
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.rodape p {
    font-size: 0.82rem;
    color: var(--branco);
    font-family: 'Cinzel', serif;
    letter-spacing: 0.08em;
}
.rodape div {
    display: flex;
    gap: 2rem;
}
.rodape a {
    color: var(--dourado2);
    text-decoration: none;
    font-size: 0.78rem;
    font-family:'Cinzel', serif;
    letter-spacing: 0.1em;
    transition: color 0.2s;
}
.rodape a:hover {
    color: var(--dourado);
}