.amigo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ponto {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: var(--verde);
}

.offline {
  background-color: var(--vermelho);
}